.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profilecard{
  width: 200px;
  height: 300px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
  text-align: center;
}

.profilecard .image{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
}

.profilecard .cardtitle{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 300;
  color: aquamarine;
}